@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="main">
        <div class="box-container">
            <h1 class="box-title">SubRip Subtitles Adjuster</h1>

            <form asp-controller="Home"
                  asp-action="UploadAndDownloadFile"
                  method="post"
                  enctype="multipart/form-data">

                <input class="box-input" type="file" name="FileToUpload" required />
                <input class="box-input" type="number" step="0.05" name="Offset" placeholder="offset" required>

                <div class="wrap-btn">
                    <button type="submit">Submit</button>
                    @*<a href="#!">Open History 🡒</a>*@
                </div>
            </form>
            <div class="error-text">@ViewBag.Error</div>
        </div>
    </div>
</div>

