@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <form asp-controller="Home"
          asp-action="UploadAndDownloadFile"
          method="post"
          enctype="multipart/form-data">
        <div>
            <input type="file" name="FileToUpload" />
        </div>
        <div>
            <input type="number" step="0.1" name="Offset">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>

</div>
